.grid-container{
    display:inline-grid;
    /* grid: 10px ; */
    grid-template-columns: 100px 100px  100px ;
    grid-template-rows: 100px 100px 100px;
    
grid-gap: 100px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container >div{
    background-color: beige;
    padding: 20px 0px;
    text-align: center;
    font-size: 30px;
}
.item1{
  
    grid-area: 1 /span 2 /span 2;
 
  justify-content: center;
  height:fit-content;
  width:fit-content;
  align-self: center;
  
}
.item1 >div{
 
    justify-content: center;
}
.item2{
    height: fit-content;
    width:fit-content;
    grid-area:1/3;
    background-size:100% 100%;
}

.item2 >img{
    justify-content: center;
    height: 10px;

}
.item3{
    height: fit-content;
    width:fit-content;
    grid-area:2/3;
    background-size:100% 100%;
}

.item3 >img{
    justify-content: center;
    height: 10px;

}