h3{
    text-align: center;
    font-family: cursive;
    color: rgb(10, 10, 10);
    font-size: larger;
}
.p1{
    color: brown;
    background-image: radial-gradient(hsl(120, 100%, 48%),rgba(0, 162, 255, 0.664));
}