
    body{
        background-image: radial-gradient(rgb(0, 162, 255),rgb(73, 223, 153));

    }
   #cal{
    text-shadow: 2px 2px 4px black;
    width:300px;
    margin: 100px;
    border-radius: 10px 10px 10px 10px;
   } 
 #cal:hover{
    background-color: yellow;
    input{
        background-color: rgb(84, 221, 221);
    }
   button{
    background-color: chocolate;
   }
 }
   input{
    width:250px;
   height:20px ;
    background-color: rgb(125, 125, 179);
   }
   input:hover{
    border-radius: 20px 0px 30px 0px;
   }
   button:hover{
    border-radius: 10px 0px 10px 0px;
      }
     
      button{
        width:50px;
        height:50px ;
      }
   

