h1{
    font-family:cursive;
    font-style:oblique;
    font-weight: bolder;
    font-size: 400%;
    text-align: center;
    text-shadow: 0px 6px 4px red;
}
h3{
    font-family:cursive;
    font-style:oblique;
    font-weight: bolder;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-thickness: 2px; 
}
p{
    text-align: center;
    color: azure;
    
}
li{
    text-align: center;
}
.list{
    max-width: 8%;
    margin-left:46%;
    list-style-position: outside;
}
ol{
    text-align:center;
    color: azure;
    list-style-type: circle;
    list-style-position:inside;
    list-style-image: radial-gradient(red ,rgb(20, 255, 20)) ;
}
body{
    background-image:url(images.jpeg);
    background-size: cover;
   
    background-attachment:fixed ;
}
